@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');

body {
    font-family: 'Inter', sans-serif;
}

.status-dot {
    width: 8px;
    height: 8px;
    background-color: #10b981;
    border-radius: 50%;
    display: inline-block;
    margin-right: 6px;
    animation: pulse 2s infinite;
}

@keyframes pulse {

    0%,
    100% {
        opacity: 1;
    }

    50% {
        opacity: 0.5;
    }
}

.skill-tag {
    background-color: #babbbe;
    padding: 4px 12px;
    border-radius: 4px;
    font-size: 14px;
    color: #0d0d0e;
    margin-right: 8px;
    margin-bottom: 8px;
    display: inline-block;
}