@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');

body {
    font-family: 'Inter', sans-serif;
}

.status-dot {
    width: 8px;
    height: 8px;
    background-color: #10b981;
    border-radius: 50%;
    display: inline-block;
    margin-right: 6px;
    animation: pulse 2s infinite;
}

.status-dot span{
    font-size: 12px !important;
}

@keyframes pulse {

    0%,
    100% {
        opacity: 1;
    }

    50% {
        opacity: 0.5;
    }
}

.skill-tag {
    background-color: #babbbe;
    padding: 4px 12px;
    border-radius: 4px;
    font-size: 14px;
    color: #0d0d0e;
    margin-right: 8px;
    margin-bottom: 8px;
    display: inline-block;
}
@media (max-width : 640px) {
    .skill-tag{
        font-size: 12px;
    }
}

.tab-active {
    border-bottom: 2px solid #1f2937;
    font-weight: 600;
}

.project-card {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.project-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1);
}

button {
    cursor: pointer;
}

/* *{ */
/* background-color: #1f2937; */
/* color: white; */
/* } */

#main,
#nav,
#foot {
    box-shadow: 0 25px 25px -5px rgba(0, 0, 0, 0.1);
}

@keyframes shimmer {
    0% {
        transform: translateX(-100%);
    }

    100% {
        transform: translateX(100%);
    }
}

.skeleton-shimmer {
    position: relative;
    overflow: hidden;
    background-color: #e5e7eb;
}

.skeleton-shimmer::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg, transparent, rgba(255, 255, 255, 0.6), transparent);
    animation: shimmer 1.5s infinite;
}

.skeliton-dot{
    background-color: oklch(68.1% 0.162 75.834) !important;
}

code {
  font-family: 'Monaco', 'Consolas', 'Courier New', monospace;
  background-color: #f8f9fa;
  color: #d63384;
  padding: 0.125em 0.25em;
  border-radius: 0.25em;
  border: 1px solid #e9ecef;
}
